<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        button {
            padding: 5px;
        }

        button:focus {
            outline: none;
        }

        textarea {
            padding: 1rem;
            width: 50%;
            resize: none;
        }

        textarea:focus {
            outline: none;
        }

        #app {
            max-width: 1024px;
            min-height: 100vh;
            margin: 0 auto;
            background-color: blanchedalmond;
            padding: 1rem;
        }

        #app h3 {
            text-align: center;
            margin-bottom: 1rem;
        }

        .comment {
            padding: 1rem;
            border: black 1px solid;
            width: 100%;
            border-radius: 0.8rem;
            margin: 0.3rem 0;
        }

        .comment p {
            margin: 0.3rem 0;
        }

        .like {
            background-color: green;
            color: white;
        }
        .dislike {
            background-color: red;
            color: white;
        }
    </style>
</head>
<body>
    <div id="app">
        <h3>Tugas pengenalan Vue JS</h3>
        <div class="comment" v-for="(comment, index) in comments" :keys="index">
            <button :class="comment.like ? 'like' : ''" id="likeButton" @click="like(index)">+</button>
            <p>{{ comment.komentar }} || {{ comment.tanggal }} || Score : {{ comment.score }}</p>
            <button :class="comment.dislike ? 'dislike' : ''" id="dislikeButton" @click="dislike(index)">-</button>
        </div>
        <textarea v-model="newComment" @keydown.13="createComment" rows="5"></textarea>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script>
        var vm = new Vue ({
            el: '#app',

            data() {
                return {
                    newComment: '',
                    comments: [
                        {
                            'komentar': 'Ini adalah komentar pertama',
                            'tanggal': '18-12-2020',
                            'score': 5,
                            'like': false,
                            'dislike': false,
                        },
                        {
                            'komentar': 'Sedangkan yang ini merupakan komentar kedua',
                            'tanggal': '18-12-2020',
                            'score': 3,
                            'like': false,
                            'dislike': false,
                        },
                    ]
                }
            },

            methods: {
                createComment() {
                    let now = new Date()
                    let date = now.getDate()
                    let month = now.getMonth() + 1
                    let year = now.getFullYear()

                    this.comments.push({
                        'komentar': this.newComment,
                        'tanggal': `${date}-${month}-${year}`,
                        'score': 0,
                        'like': false,
                        'dislike': false,
                    })

                    this.newComment = ''
                },

                like(index) {
                    let comment = this.comments[index]
                    if(comment.dislike) {
                        comment.dislike = false
                        comment.score += 1
                        return
                    }
                    comment.like = !comment.like
                    if(comment.like) {
                        comment.score += 1
                    } else {
                        comment.score -= 1
                    } 
                },

                dislike(index) {
                    let comment = this.comments[index]
                    if(comment.like) {
                        comment.like = false
                        comment.score -= 1
                        return
                    }
                    comment.dislike = !comment.dislike
                    comment.dislike ? comment.score -= 1 : comment.score += 1
                }
            },
        })

    </script>
</body>
</html>