<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZ - 2 | Sanbercode Laravel Vue</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        #app {
            position: relative;
            max-width: 1024px;
            min-height: 100vh;
            margin: 0 auto;
            background-color: blanchedalmond;
        }
        
        #app h2 {
            text-align: center;
            padding: 0.8rem 0;
        }
        .form-group {
            padding: 0.5rem 1rem;
        }
        .form-group input,
        .form-group button {
            padding: 0.5rem;
            border-radius: 0.4rem;
        }
        
        .form-group input:focus,
        .form-group button:focus {
            outline: none;
            border: purple 2px solid
        }

        .data-wrapper {
            padding: 0.3rem 1rem;
        }

        .data-wrapper ul {
            padding: 0 2rem;
        }

        .data-wrapper li {
            margin: 1rem 0;
        }

        .user-wrapper {
            display: flex;
        }

        .user-wrapper p {
            min-width: 33%;
        }

        .user-wrapper button {
            margin: 0 10px;
            padding: 0.2rem 0.5rem;
        }

        .alert {
            position: absolute;
            top: 1rem;
            right: 1rem;
            width: 33%;
            text-align: center;
            padding: 0.5rem;
            color: white;
            margin-left: 1rem;
            border-radius: 0.5rem;
        }

        .alert-success {
            background-color: green;
        }

        .alert-danger {
            background-color: red;
        }

        .alert-primary {
            background-color: blue;
        }

        .fade-enter-active,
        .fade-leave-active {
            transition: opacity 0.5s;
        }

        .fade-enter,
        .fade-leave-to {
            opacity: 0;
        }

        .modal {
            position: absolute;
            width: 30%;
            border-radius: 0.8rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid black;
        }

        .modal-header {
            text-align: center;
            padding: 0.5rem;
            border-radius: 0.8rem 0.8rem 0 0;
            background-color: honeydew;
        }

        .modal-body {
            display: flex;
            flex-direction: column;
            border-radius: 0 0 0.8rem 0.8rem;
            background-color: white;
            padding: 1rem;
        }

        .button-wrapper {
            align-self: flex-end;
            display: flex;
            justify-content: flex-end;
            margin-top: 1rem;
            width: 50%;
        }

        .button-wrapper button {
            padding: 0.2rem 0.5rem;
            margin: 0 5px;
        }

        
    </style>
</head>
<body>
    <div id="app">
        <h2>Quiz - 2</h2>

        <div v-show="modal.show" class="modal">
            <div class="modal-header"><h3>{{ modal.title }}</h3></div>
            <div class="modal-body">
                {{ modal.message }}

                <div class="button-wrapper">
                    <button @click="deleteUser">Iya</button>
                    <button @click="modal.show = false">Tidak</button>
                </div>
            </div>
        </div>

        <transition name="fade">
            <div v-show="showAlert" class="alert" :class="alertType">
                {{ alertMessage }}
            </div>
        </transition>

        <form action="" @submit.prevent="submitMethod">
            <div class="form-group">
                <input v-model="inputUser" type="text" id="add-data">
                <button type="submit">{{ textButton }}</button>
            </div>
        </form>
        <div class="data-wrapper">
            <ul>
                <li v-for="(user, index) in users">
                    <div class="user-wrapper">
                        <p>{{ user.name }}</p>
                        <button @click="editUser(index)">Edit</button> || <button @click="showDeleteModal(index)">Delete</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script>
        var vm = new Vue ({
            el: "#app",

            data() {
                return {
                    inputUser: '',
                    textButton: 'add',
                    userIndexEdit: 0,
                    userIndexDelete: 0,
                    users: [
                        {
                            'name' : 'Muhammad Iqbal Mubarok',
                        },
                        {
                            'name' : 'Ruby Purwanti',
                        },
                        {
                            'name' : 'Faqih Muhammad',
                        },
                    ],
                    alertMessage: '',
                    showAlert: false,
                    alertType: 'alert-success',
                    modal : {
                        'title': 'Modal Title',
                        'message': 'Modal Message',
                        'show': false,
                    }
                }
            },

            methods: {
                submitMethod(){
                    if( this.textButton === 'add' ) this.addUser()
                    if( this.textButton === 'update' ) this.updateUser()
                },

                addUser() {
                    this.users.push({ 'name': this.inputUser })
                    this.inputUser = ''
                    this.showingAlert('User berhasil ditambahkan!')
                },

                editUser(index) {
                    this.textButton = 'update'
                    this.userIndexEdit = index
                    this.inputUser = this.users[index].name
                },

                updateUser() {
                    this.users[this.userIndexEdit].name = this.inputUser
                    this.showingAlert('User berhasil diupdate!', 'alert-primary')
                    this.inputUser = ''
                    this.textButton = 'add'
                },

                showDeleteModal(index) {
                    this.modal.show = true
                    this.userIndexDelete = index
                    this.modal.title = 'Konfirmasi Hapus User' 
                    this.modal.message = `Anda yakin ingin menghapus user ${this.users[index].name} ?`
                },

                deleteUser(index){
                    // let confirm = window.confirm(`Anda yakin ingin menghapus user ${this.users[index].name} ?`)

                    // if( confirm ) {
                    //     this.users.splice(index, 1)
                    //     this.showingAlert('User berhasil dihapus!', 'alert-danger')
                    // }
                    
                    this.users.splice(this.userIndexDelete, 1)
                    this.modal.show = false
                    this.showingAlert('User berhasil dihapus!', 'alert-danger')
                },

                showingAlert(message, type = 'alert-success') {
                    this.alertMessage = message
                    /*
                        Macam-macam alertType :
                            alert-success = green -> default,
                            alert-primary = blue,
                            alert-danger = red,
                    */
                    this.alertType = type,
                    this.showAlert = true
                    setTimeout(() => {
                        this.showAlert = false
                    }, 3000)
                }
            },
        })

    </script>
</body>
</html>